---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="site">
      <header class="heading">
        <h2 class="site-title">GPS Data Ouput with Map data</h2>
      </header>

      <main id="content" class="gps-data">
        <slot name="left">
          <p>Maybe you forogot to put soemthing in the MapLayout left slot</p>
        </slot>
      </main>

      <aside class="map-data">
        <slot name="right">
          <p>Maybe you forogot to put soemthing in the MapLayout right slot</p>
        </slot>
      </aside>

      <aside class="twin">This should take up half the space</aside>
      <aside class="twin">
        This should take up the other half of the space
      </aside>

      <footer class="footer grid">
        <aside>
          Tracy Awesomesauce
        </aside>
      </footer>
    </div>
  </body>
</html>
<style is:global>
  :root {
    /* NOTE:
 * Grid layout stuff starts at line 138. 
 * The stuff before is just boring old CSS to make content look not crappy.
 */

    /*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
    html {
      font-family: sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    body {
      margin: 0;
    }

    img {
      display: block;
      border: 0;
      width: 100%;
      height: auto;
    }

    /*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
    /* Text meant only for screen readers */
    /* .screen-reader-text {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }

    .screen-reader-text:hover,
    .screen-reader-text:active,
    .screen-reader-text:focus {
      background-color: #f1f1f1;
      border-radius: 3px;
      box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
      clip: auto !important;
      color: #21759b;
      display: block;
      font-size: 14px;
      font-weight: bold;
      height: auto;
      left: 5px;
      line-height: normal;
      padding: 15px 23px 14px;
      text-decoration: none;
      top: 5px;
      width: auto;
      z-index: 100000; Above WP toolbar */
    }

    /*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
    body,
    button,
    input,
    select,
    textarea {
      color: #404040;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 18px;
      line-height: 1.5;
    }

    h1,
    h2,
    h3 {
      margin: 0;
      padding: 1em 0;
    }

    p {
      margin: 0;
      padding: 1em 0;
    }

    /*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
    .site {
      background: #ededed;
      min-height: 100vh;
    }

    .heading,
    .map-data,
    .gps-data,
    .twin,
    .footer {
      padding: 1em 2em;
    }

   
    .heading {
      background: lightblue;
      color: black;
	  border-radius: 20px;
    
    }

	.gps-data {
      background: lightblue;
	  color: black;
	  border-radius: 20px;
	  
    }

    .map-data {
      background: lightblue;
	  color: black;
	  border-radius: 20px;
	 
    }

    .twin {
      background: lightblue;
	  color: black;
	  border-radius: 20px;
	 
    }

	.twin:last-of-type{
		background: lightblue;
		color: black;
	}


    .footer {
      padding: 2em;
      background: #3e454c;
      color: white;
    }

    .footer a {
      color: white;
    }

    .footer a:hover,
    .footer a:focus {
      border-bottom: 1px solid white;
    }

    /*--------------------------------------------------------------
If no grid support, limit width to 50em and center align
--------------------------------------------------------------*/
    @supports not (display: grid) {
      .site {
        max-width: 50em;
        margin: 0 auto;
      }
    }

    /*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/

    @media screen and (min-width: 600px) {
      @supports (display: grid) {
        .site {
          display: grid;
          grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
          grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
        }

        .heading,
        .footer {
          grid-column: span 8;
		 
        }

        .gps-data {
          grid-column: span 4;
		  
		 
        }

        .map-data {
          grid-column: span 4;
		
        }

        .twin {
          grid-column: 2/5;
          grid-row: 3/4;
        }

        .twin:last-of-type {
          grid-column: 5/8;
        }
      }
    }
  }
</style>
