---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="row">
      <h1>the top</h1>
    </div>
    <div class="row">
      <div class="column">
        <slot name="left">
			<p>Mabye you forogot to put soemthing in the MapLayout left slot</p>
		</slot>
      </div>
      <div class="column">
        <slot name="right" >
			<p>Mabye you forogot to put soemthing in the MapLayout right slot</p>
		</slot>
      </div>
    </div>
    <div class="row">
      <h1>the bottom</h1>
    </div>
  </body>
</html>
<style is:global>
  .row {
    display: flex;
  }

  .column {
    flex: 50%;
  }

  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
</style>
