---
import Layout from "../layouts/MapLayout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Map Data.">
  <div slot="left">
    <h2>inside the left slot</h2>
  </div>
  <div slot="right">
    <h2>inside the right slot</h2>
  </div>
</Layout>
