---
import Layout from "../layouts/MapLayout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Map Data.">
  <div slot="left">
    <h2>GPS Data</h2>
    <p>
      This will contain the data from the GPS 
    </p>
  </div>
  <div slot="right">
    <h3>Map showing GPS Points</h3>
    <p>This will contain the map and data from the GPS
    </p>
  </div>
</Layout>
