---
import Layout from "../layouts/MapLayout.astro";
import Card from "../components/Card.astro";
import BingMap from "../components/BingMap.astro"
import DataLogger from "../components/DataLogger.astro"
---

<Layout title="Map Data.">
  <div slot="left">
    <h2>GPS Data</h2>
    <DataLogger/>
  </div>
  <div slot="right">
    <h3>Map showing GPS Points</h3>
    <BingMap />
  </div>
</Layout>
